{% extends 'base.html' %}

{% block content %}
<h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">You searched for  - {{ keyword }}</h3>

<div class="row mb-2">
  {% for i in blog %}
    <div class="col-md-6 mb-4">
      <div class="card border-0 shadow-sm h-100 fade-in">
        <div class="card-body">
          <h3><a href="{% url 'blogs' i.slug %}" class="text-dark">{{ i.title }}</a></h3>
          <small class="mb-1 text-muted">{{ i.created_at|timesince }} ago | {{ i.author }}</small>
          <p class="card-text">{{ i.short_description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<style>
  .card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
  }

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

{% endblock %}
